@import '../styles/base/normalize';
@import '../styles/base/colors';
@import '../styles/base/layout.scss';
body {
    color: $font;
    background-color: #f3f4f6;
    margin: 0 auto;
    padding: 0px 16px;
    max-width: 640px;
}

header {
    padding: 8px 0;
}

header h1 {
    margin: 0;
}

/* filter */

.filter {
    color: $sub-font;
}

.filter .select-wrap {
    margin-top: 8px;
}

.filter .select-wrap label {
    display: inline-block;
    min-width: 80px;
}

.filter .select-wrap select {
    width: 128px;
    border: 1px solid $border;
    border-radius: 12px;
    padding: 4px 24px;
    background: url('../assets/chevron.png') no-repeat 95% 50%;
    appearance: none;
    -webkit-appearance: none;
}

.btn-add {
    width: 100%;
    font-size: 26px;
    margin-top: 24px;
    background-color: $accent;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

/* output buttons */

.button-wrap {
    margin-top: 24px;
    display: flex;
}

.button-wrap li:not(:first-child) {
    margin-left: 4px;
}

.button-wrap img {
    border: 2px solid $main;
    border-radius: 50%;
}

/* standings */
main {
    padding-bottom: 24px;
}

.standings {
    margin-top: 24px;
}

.standings h2 {
    color: $sub-font;
}

.standings li {
    margin-top: 16px;
}

.standings li table {
    width: 100%;
    margin-top: 16px;
    padding: 16px 8px;
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.standings .img-wrap {
    width: 32px;
    height: 32px;
}

.standings img {
    width: 100%;
    height: 100%;
    border: 1px solid $border;
    border-radius: 50%;
    object-fit: cover;
}

.standings .country-field {
    padding: 8px;
    display: flex;
    align-items: center;
}

.standings .country-name {
    margin-left: 8px;
}
