$font-main: 'Noto Sans KR', sans-serif;
$font-price: 'Tahoma', sans-serif;

$font-size-12: 12px;
$line-height-12: 16px;
$letter-spacing-12: -0.005em;

$font-size-13: 13px;
$line-height-13: 20px;
$letter-spacing-13: -0.01em;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

@mixin text-style($size, $color: false) {
    @if ($size == 12) {
        font-size: $font-size-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-12;
    }
    @if ($size == 13) {
        font-size: $font-size-13;
        line-height: $line-height-13;
        letter-spacing: $letter-spacing-13;
    }
    @if ($size == 14) {
        font-size: $font-size-14;
        line-height: $line-height-14;
        letter-spacing: $letter-spacing-14;
    }
    @if ($size == 16) {
        font-size: $font-size-16;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-16;
    }
    @if ($size == 18) {
        font-size: $font-size-18;
        line-height: $line-height-18;
        letter-spacing: $letter-spacing-18;
    }
    @if ($size == 24) {
        font-size: $font-size-24;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing-24;
    }

    //color 형태 유효성 검사
    @if (type-of($color) == color) {
        color: $color;
    }
}
